@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">New World Data</h1>
    <p>This is data from New World game from the only API avaialble that I could find.</p>
</div>
